body{
    background-color: lightgray;
}
#name{
    font-size: 3.5rem;
}
#year{
    font-size: 2rem;
}
#sd{
    font-size: 1.5rem;
}
#img{
    border: lightgray;
    border-radius: 5000px;
}
#sinfo{
    border: 1px solid rgb(156, 156, 156);
    border-radius: 3px;
}
#imgbox{
    border: 1px solid rgb(156, 156, 156);
    border-radius: 3px;
    padding: 3px;
}
#picdis{
    background-color: rgb(163, 162, 162);
    padding: 2px;
    border:  rgb(163, 162, 162) 1px solid;
}
#ul{
    font-size: 1.7rem;
    font-weight: bolder;
}
.years{
    font-weight: bolder;
}
a{
    text-decoration: underline;
    font-style: italic;
}